.header__lang-link {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.1;
  text-decoration: none;
  color: #fff;
  transition: opacity 0.3s;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.1;
  }
}
