.cover__link {
    min-height: 740px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    box-sizing: border-box;

    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    z-index: 0;
    text-decoration: none;
    color: #fff;
}

.cover__link::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    opacity: 0.3;
    transition: all 0.4s;
    z-index: -1;
}

.cover__link:hover::before {
    opacity: 0.8;
}

@media screen and (max-width: 1279px) {
    .cover__link {
        min-height: 640px;    }
}

@media screen and (max-width: 1023px) {
    .cover__link {
        min-height: 480px;    }
}

@media screen and (max-width: 600px) {
    .cover__link {
        min-height: 420px;    }
}

@media screen and (max-width: 425px) {
    .cover__link {
        min-height: 200px;
        gap: 16px;
        }
}