.lead__image {
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
    padding: 0 148px;
}

@media screen and (max-width: 1279px) {
    .lead__image {
        padding: 0 48px;
    }
}

@media screen and (max-width: 1023px) {
    .lead__image {
        padding: 0;
    }
}