.lead__subtitle {
  max-width: 640px;
  margin: 0;
  padding: 32px 0 64px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

@media screen and (max-width: 1279px) {
  .lead__subtitle {
    padding: 32px 0 56px;
  }
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    max-width: 320px;
    font-size: 16px;
    line-height: 1.25;
    padding: 16px 0 40px;
  }
}
