.page__padding-wide {
    margin: 0 148px 0;
}

@media screen and (max-width: 1279px) {
    .page__padding-wide {
        margin: 0 48px 0;
    }
}

@media screen and (max-width: 1023px) {
    .page__padding-wide {
        margin: 0 24px 0;
    }
}

@media screen and (max-width: 767px) {
    .page__padding-wide {
        margin: 0 16px 0;
    }
}